# =====================================================
# CORE — IBIG EDUFORM (VERSION STABLE)
# =====================================================

Options -Indexes
AddDefaultCharset UTF-8

# Empêcher accès direct au dossier core
Require all denied
